{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>

<body>
    {% if request.session.is_login %}
    <!--<div id="loginBtnDiv">-->
    </div>
    <div class="form">
        <form action="{% url 'shop01:search_result' %}" method="GET">
            {% csrf_token %}
            <div class="search-form">
                {% for field in form %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="error">
                            {{ field.errors.0 }}
                        </p>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="検索">
            </div>
        </form>
    </div>
    <br>
    <a href="{% url 'shop01:cart' %}">ショッピングカートを見る</a>
    <p>ようこそ{{user_name}}さん</p>
    <a href="{% url 'shop01:user_info' %}">会員情報の確認</a><br>
    <a href="{% url 'shop01:update_user' %}">会員情報の変更</a><br>
    <a href="{% url 'shop01:logout' %}">ログアウト</a><br>
    <a href="{% url 'shop01:admin_login' %}">管理者ページ</a><br>
    </div>
    {% else %}
    <!--<div id="infoDiv" style="display: none;">-->
        <div class="form">
            <form action="{% url 'shop01:search_result' %}" method="GET">
                {% csrf_token %}
                <div class="search-form">
                    {% for field in form %}
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <p class="error">
                                {{ field.errors.0 }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="検索">
                </div>
            </form>
        </div>
        <br>
        <a href="{% url 'shop01:login' %}">ショッピングカートを見る</a><br>
        <a href="{% url 'shop01:login' %}">ログイン</a><br>
        <a href="{% url 'shop01:admin_login' %}">管理者ページ</a><br>
    </div>
    {% endif %}
    <hr style="margin: 30px 0;">

    <div class="recommend-section" style="background-color: #f9f9f9; padding: 15px; border: 1px solid #ccc;">
        <h3 style="color: #ff6600; margin-top: 0;">👑 ピックアップオススメ商品</h3>
        
        {% if recommended_items %}
            <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
                <tr style="background-color: #eeeeee;">
                    <th style="padding: 5px;">商品名</th>
                    <th style="padding: 5px;">メーカー</th>
                    <th style="padding: 5px;">価格</th>
                    <th style="padding: 5px;">在庫</th>
                    <th style="padding: 5px;"></th>
                </tr>
                {% for item in recommended_items %}
                <tr>
                    <td style="padding: 5px;">{{ item.name }}</td>
                    <td style="padding: 5px;">{{ item.manufacture }}</td>
                    <td style="padding: 5px;">{{ item.price }}円</td>
                    <td style="padding: 5px;">
                        {% if item.stock > 0 %}
                            あり
                        {% else %}
                            <span style="color: red;">売り切れ</span>
                        {% endif %}
                    </td>
                    <td style="padding: 5px;">
                        <a href="{% url 'shop01:item_detail' item.item_id %}">詳細を見る</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>現在ピックアップ中のオススメ商品はありません。</p>
        {% endif %}
    </div>
    </body>

</html>