{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>購入確認画面</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>
<body>
    <h2>購入内容の確認</h2>
    <table border="1">
        <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.item.name }}</td>
            <td>{{ item.item.price }}円</td>
            <td>{{ item.amount }}</td>
            <td>{% widthratio item.item.price 1 item.amount %}円</td>
        </tr>
        {% endfor %}
    </table>
    <h3>合計: {{ total_price }} 円</h3>

    <form action="{% url 'shop01:purchase_commit' %}" method="POST">
        {% csrf_token %}
        <h3>配送先の指定</h3>
        <p>会員登録されている住所（デフォルト）:<br> {{ user_info.address }}</p>
        
        <label for="destination">別の住所へ配送する場合は入力してください：</label><br>
        <input type="text" id="destination" name="destination" placeholder="登録住所以外の場合に入力" size="50">
        
        <br><br>
        <button type="submit">注文を確定する</button>
    </form>
    
    <br>
    <a href="{% url 'shop01:cart' %}">カートに戻る</a>
</body>
</html>