{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>
<body>
	<div>
		<h3>ログインしてください</h3>
        <div class="form">
            <form action="{% url 'shop01:register_user'%}" method='POST'>
                {% csrf_token %}
                <table>
                {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>
                        {% if field.errors %}
                    <p class="error">{{field.errors.0}}</p>
                    {% endif %} 
                    {{field}}
                    </td>
                </tr>
                    {% endfor %}    
                    </table>           
                </div>
                
                <input type="submit" value="登録確認" />
			</form>
		</div>
        
	</div>
</body>

</html>