{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>
<body>
	<div>
		<h3>以下の会員情報で更新しました。</h3>
        <table>
            {% for field in form %}
                {% if field.name != 'password2' %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>
                        {% if field.errors %}
                            <p class="error">{{ field.errors.0 }}</p>
                        {% endif %}
                        {% if field.name == "password1" %}
                            表示なし
                        {% else %}
                            {{ field.value }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </table> 
        <a href="{% url 'shop01:main' %}">商品検索へ</a>
	</div>
</body>


</html>