{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>
<body>
    <h2>{{user_name}}さん、本当に退会しますか？</h2>
    <br>
    <div class="form">
        <form action="{% url 'shop01:withdrawcommit' %}" method="POST">
                <input type="submit" value="退会">
            </div>
        </form>
    </div>
    <br>
    <a href="{% url 'shop01:main' %}">商品検索へ</a>
</body>

</html>