{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href='{% static "shop01/css/style.css" %}' />
</head>

<body>
    <h2>商品の詳細</h2>
    <table border="1">
        <tr>
            <th>商品名</th>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <th>商品の色</th>
            <td>{{ item.color }}</td>
        </tr>
        <tr>
            <th>メーカー名</th>
            <td>{{ item.manufacture }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ item.price }}円</td>
        </tr>
        <tr>
            <th>在庫数</th>
            <td>{{ item.stock }}個</td>
        </tr>
    </table>
    {% if request.session.is_login %}
    <form action="{% url 'shop01:item_detail' item.pk %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="item_id" value="{{ item.pk }}">
    {{ form.stock.label }}：{{ form.stock }}
    <br>
    <input type="submit" value="ショッピングカートに入れる" />
    </form>
    {% else %}
    <form action="{% url 'shop01:login' %}" method="GET">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.pk }}">
        {{ form.stock.label }}：{{ form.stock }}
        <br>
        <input type="submit" value="ショッピングカートに入れる" />
        </form>
    {% endif %}
    <div>
        <a href="{% url 'shop01:main' %}">商品検索へ</a>
    </div>
</body>